div.dashboard-notification {
 width: 100%;
 height: 100%;
 background: yellow;
 line-height: 35px;
}

div.dashboard-notification div.dashboard-notification-close {
  width: 15px;
  text-align: right;
  float: right;
  overflow: visible;
  margin-right: 10px;
  text-decoration: none;
}

div.dashboard-notification span.user-label {
  background: black;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

div.dashboard-notification div.dashboard-notification-message {
  width: 100%;
  overflow: visible;
  font-weight: bold;
}